root{
    font-size: 30px;
}

html, body{
    margin: 0;
    height: 100%;
}
body{
  background-image: url('../dist/images/mangyFood.jpg');
  background-attachment: fixed;
}

#content{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto 8vh;
    height: 100vh;
    color: blueviolet;
}

/* HEADER */
.header {
  display: grid;
    grid-area: header;
    grid-template-areas:
        "restaurantName"
        "nav";
    padding: 4vw;
    background: url('../dist/images/coconut.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
}

.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    padding-top: 10vw;
}

.buttons{
    color: aliceblue;
    font-size: 3rem;
    font-weight: 700;
    background-color:rgb(64, 97, 207);
    border-radius: 20px;
}

.buttons:hover{
    color: rgba(228, 221, 129, 0.74);
    background-color: rgb(44, 55, 148);
    cursor: pointer;
}

.restaurantName{
    grid-area: restaurantName;
    font-family: 'Oswald' sans-serif;
    font-size:6vw;
    font-weight: 700;
    color: rgb(13, 16, 196);
    margin: 0;
    text-align:start;
    width: 50%;
    padding: 5vh 0 0 3vw;
}

/* MAIN */
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 0;
    margin: 0;
}

/* HOME */
.home p{
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size:4vw;
    font-weight: 400;
    color: white;
}
.home{
  padding: 0 25vw;
}

/* MENU */
.menu{
  width: 45vw;
  padding: 0 25vw;
}
.menu-item{
  padding: 0 2vh;
  padding-bottom: 1vw;
  background-color: rgb(255, 255, 255, .8);
}

.menu h2{
  font-size: 6vw;
  padding: 3vw 0 0 3vw;
}
.menu-item p{
  display: flex;
  justify-content: center;
  font-size: 2vw;
  color: none;
  padding-left: 2vw;
}
.menuImg{
  width:100%;
}

/* CONTACT */
.contact{
  padding:6vw;
  width:70vw;
  height: 100%;
}
.contact h2{
  color: rgb(170, 10, 10);
  font-size: 4vw;
  background-color: rgba(129, 157, 199, 0.8);
  width: 80%;
  margin: 0;
}
.map{
  width: 80%;
  aspect-ratio: 1;
  margin-top: 2vw;
}

/* FOOTER */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color:white;
  }
.footer p{
    font-size: 2rem;
    color:black;
}
.footerImage{
  width: 3vw;
  padding: 0 2vw;
}

@media (max-width: 1030px) {
  }
  .buttons{
    font-size: 3vw;
  }
  .home{
    padding: 7vw;
  }
  .menu{
    width: 70vw;
    padding: 0 5vw;
  }
  .menu-item{
    padding: 0;
  }
  .contact{
    padding:2vw 0 0 4vw;  
    width:100vw;
  }
  .map{
    width: 80%;
  }
  .footer p{
    font-size: 1.3rem;
  }

@media(max-width: 800px){
  .restaurantName{
    padding: 0;
  }
  .home p{
    font-size: 4vw;
  }
  .menu{
    padding: 0 5vw;
  }

  .menu p{
    font-size: 2vh;
  }
  .contact{
    padding: 1vw 0 0 3vw;
  }
  .footer p{
    font-size: .8rem;
  }
  }

@media(max-width: 550px){
  .menu{
    width: 95%;
  }
  .home, .menu{
    padding: 2vw;
  }
  .menu p, .home p{
    font-size: 5vw;
  }
  .footer p{
    font-size: .6rem;
  } 
  }

  @media(max-width: 400px){
    .home, .menu{
      padding: 4vw;
    }
  }